<div class="fab fab-plus">
  <i class="iconfont iconplus"></i>
</div>
<div class="fab fab-up">
  <i class="iconfont iconcaret-up"></i>
</div>
<div class="fab fab-menu">
  <i class="iconfont iconmenu"></i>
</div>