  <div class="fab fab-plus">
    <i class="iconfont iconplus"></i>
  </div>
  <% if(theme.daovoice.enable){ %>
  <div class="fab fab-daovoice">
    <i class="iconfont iconcomment"></i>
  </div>
  <% } %>
  <div class="fab fab-up">
    <i class="iconfont iconcaret-up"></i>
  </div>