<nav class="menu">
  <i class="iconfont iconclose-circle menu-close"></i>
  <ul class="menu-content">
    <% for (var i in theme.menu) { %>
    <% var arr = theme.menu[i].split('||') %>
    <% var url = arr[0] %>
    <% var name = arr[1] %>
    <li class="menu-item"><a href="<%- url %>"><%- name %></a></li>
    <% } %>
  </ul>
  <div class="menu-copyright"><%- theme.copyright %></div>
</nav>