<nav class="menu">
  <i class="iconfont iconclose menu-close"></i>
  <ul class="menu-content">
    <li class="menu-item"><a href="/">首页</a></li>
    <li class="menu-item"><a href="/archives">归档</a></li>
    <li class="menu-item"><a href="/">摄影</a></li>
    <li class="menu-item"><a href="/">留言</a></li>
    <li class="menu-item"><a href="/">关于</a></li>
  </ul>
  <div class="menu-copyright"><%- theme.copyright %></div>
</nav>