<nav class="nav">
  <i class="iconfont iconclose nav-close"></i>
  <ul class="nav-menu">
    <li class="nav-menu-item"><a href="/">首页</a></li>
    <li class="nav-menu-item"><a href="/archives">归档</a></li>
    <li class="nav-menu-item"><a href="/">摄影</a></li>
    <li class="nav-menu-item"><a href="/">留言</a></li>
    <li class="nav-menu-item"><a href="/">关于</a></li>
  </ul>
  <div class="nav-copyright"><%- theme.copyright %></div>
</nav>