<div class="preview">
  <div class="preview-image">
    <h2 class="preview-tagline"><%- theme.welcome_title %></h2>
    <% if (theme.preview.model === 'cloud') { %>
      <%- image_tag("/image/overlay.png", {class: "preview-overlay", draggable:"false"}) %>
    <% } else if (theme.preview.model === 'wave') { %>
      <div class="preview-overlay">
        <svg class="preview-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="preview-parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
    <% } %>
  </div>
  <div class="preview-scroll">
    <a href="#container" class="smooth-scroll"><i class="iconfont iconMouse"></i></a>
  </div>
</div>