<div class="preview">
  <div class="preview-image">
    <h2 class="preview-tagline"><%- theme.welcome_title %></h2>
    <%- image_tag("/image/overlay.png", {class: "preview-overlay"}) %>
  </div>
  <div class="preview-scroll">
    <a href="#container" class="smooth-scroll"><i class="iconfont iconMouse"></i></a>
  </div>
</div>