<ul class="copyright">
  <li><strong>本文作者：</strong><%= config.author %></li>
  <li><strong>本文链接：</strong><a href="<%= url %>"><%= url %></a></li>
  <li><strong>版权声明：</strong>本博客所有文章均采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
      rel="external nofollow" target="_blank"> BY-NC-SA </a>许可协议，转载请注明出处！</li>
  <% if (theme.thief.enable && page.thief) { %>
  <li><strong>无视版权：</strong>爷才不管，你的就是我的！请点这里：<a href="javascript:;" class="j-thief-btn">打包带走</a></li>
  <input value="<%= thief(); %>" class="j-thief-data thief-data">
  <% } %>
</ul>