<% if ((theme.toc.always_show && page.toc !== false) || (!theme.toc.always_show && page.toc === true)) { %>
  <aside class="toc-wrap">
    <h3 class="toc-title">文章目录：</h3>
    <%- toc(page.content, {list_number: false, min_depth: theme.toc.min_depth, max_depth: theme.toc.max_depth}) %>
  </aside>
<% } %>