<main id="main">
  <section class="categories">
    <h3 class="categories-title">分类: <%- site.categories.length %> 个</h3>
    <%- list_categories({orderby: "length", order: -1}) %>
  </section>
</main>