<main id="main">
  <% if (theme.preview.enable) { %>
    <%- partial('_partial/index/preview') %>
  <% } %>
  <div class="container" id="container">
    <%- partial('_partial/index/post') %>
    <%- partial('_partial/components/paginator') %>
  </div>
</main>