/* Colors */
/* global */
$color-link = convert(hexo-config('color.link') || #ffbe5b)
$color-link-gradient = convert(hexo-config('color.link-gradient') || linear-gradient(-60deg, #ff5858 0%, #f09819 100%))
$color-shadow = 0 5px 40px -1px rgba(2, 10, 18, 0.11)
$color-shadow-active = 0 16px 32px 0 rgba(0, 0, 0, 0.1)
/* light */
$color-background = convert(hexo-config('color.background') || #ffffff)
$color-background-secondary = convert(hexo-config('color.background-secondary') || #f6f8fa)
$color-background-rgb = 255, 255, 255
$color-text = convert(hexo-config('color.text') || #33333d)
$color-text-secondary = convert(hexo-config('color.text-secondary') || #4e4e4e)
$color-text-third = convert(hexo-config('color.text-third') || #999999)
$color-border = convert(hexo-config('color.border') || #eeeeee)
/* dark */
$color-background-dark = convert(hexo-config('color.background-dark') || #1e2128)
$color-background-secondary-dark = convert(hexo-config('color.background-secondary-dark') || #1a1d22)
$color-background-rgb-dark = 30, 33, 40
$color-text-dark = convert(hexo-config('color.text-dark') || #dddddd)
$color-text-secondary-dark = convert(hexo-config('color.text-secondary-dark') || #9899ab)
$color-text-third-dark = convert(hexo-config('color.text-third-dark') || #7d8594)
$color-border-dark = convert(hexo-config('color.border-dark') || #2b3038)
/* Animation */
$transition = all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)