$color-default = #33333D
$color-light = #999999
$color-middle = #555555
$color-white = #FFFFFF
$color-link = #FFBE5B
$color-link-light = #FFE157
$color-background = #FFFFFF
$color-background-deep = #f6f8fa
$color-shadow = 0 5px 40px -1px rgba(2, 10, 18, 0.11)
$color-shadow-active = 0 16px 32px 0 rgba(0, 0, 0, 0.1)
$transition = all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9)
.colorful
  color #42B983
  color #35495E
  color #AEFFC1
  color #A0DAD0
  color #93D7F1
  color #FDEE83
  color #FFBE5B
  color #FF7D7D
  color #FFBCCF
  color #2B394E
  color #1BA1E2
  color #FF3B00
  color #FFE157