$color-info = #909399
$color-success = #67c23a
$color-error = #f56c6c
$color-warning = #e6a23c
$color-info-bgc = #edf2fc
$color-success-bgc = #f0f9eb
$color-error-bgc = #fef0f0
$color-warning-bgc = #fdf6ec

.zui-message
  position fixed
  margin 0
  padding 10px 20px
  top -50px
  left 50%
  transform translate(-50%)
  background-color $color-success-bgc
  p
    margin 0
    color $color-success
  &.in
    top 50px