.gallery
  min-height calc(100vh - 350px)
  @media (max-width 768px)
    max-width 100%
    padding 0 10px
  .wrap
    display flex
    justify-content center
    align-items center
    position relative
    width 100%
    .item
      float left
      display flex
      justify-content center
      align-items center
      position absolute
      transition $transition
      &:hover
        filter grayscale(100%)
      img
        display block
        object-fit cover
        max-width 100%
        width 100%
        height 100%
        top 0
        left 0
