.footer
  max-width 576px
  margin 0 auto
  border-top 1px solid var(--color-border)
  margin-top 90px
  padding 30px 0
  .footer-social
    text-align center
    margin-bottom 20px
    .footer-social-item
      margin 0 5px
      i
        font-size 1.7em
  .footer-copyright
    text-align center