.footer
  max-width 576px
  margin 0 auto
  border-top 1px solid #EEEEEE
  margin-top 90px
  padding 30px 0
  .footer-social
    text-align center
    margin-bottom 20px
    .footer-social-item
      font-size 1.7em
      margin 0 5px
  .footer-copyright
    text-align center