.paginator
  text-align center
  margin-bottom 30px
  span, a
    display inline-block
    margin 0 3px
    width 30px
    height 30px
    line-height 30px
  span, a:hover
    background-color var(--color-text)
    color var(--color-background)
  .space
    color var(--color-text)
    background-color rgba(0, 0, 0, 0)