<%
  var menuList = '';
  for (var i in theme.menu) {
    var arr = theme.menu[i].split('||');
    var url = arr[0];
    var name = arr[1];
    menuList += 
      `<li class="menu-item">
        <a href="${url}" class="underline ${('/'+path.replace('index.html','') === trim(url)) ? 'active' : ''}">${name}</a>
      </li>`;
  } 
%>

<nav class="menu">
  <div class="menu-container">
    <div class="menu-close">
      <i class="iconfont iconbaseline-close-px"></i>
    </div>
    <ul class="menu-content"><%- menuList %></ul>
    <% if (theme.copyright) { %>
      <div class="menu-copyright"><%- theme.copyright %></div>
    <% } %>
  </div>
</nav>