<% 
  var title = null, style = null;
  if (is_post() || is_page()) {
    title = page.title;
  } else if (is_archive()) {
    title = '归档';
  } else if (is_category()) {
    title = '分类';
  } else if (is_tag()) {
    title = '标签';
  } else if (is_home()) {
    title = ' ';
  }
%>

<% if (title) { %>
  <nav class="navbar">
    <div class="left">
      <% if (theme.navbar.back_home && !is_home()) { %>
        <i class="iconfont iconhome j-navbar-back-home"></i>
      <% } %>
      <% if (theme.qrcode.enable) { %>
        <i class="iconfont iconqrcode j-navbar-qrcode"></i>
      <% } %>
      <% if (theme.color_mode.enable) { %>
        <i class="iconfont iconmoono" id="color-toggle" color-toggle="light"></i>
      <% } %>
      <% if (theme.search.enable && config.search.path) { %>
        <i class="iconfont iconsearch j-navbar-search"></i>
      <% } %>
    </div>
    <div class="center"><%= title %></div>
    <div class="right">
      <i class="iconfont iconmenu j-navbar-menu"></i>
    </div>
    <% if (theme.qrcode.enable) { %>
      <div id="qrcode-navbar"></div>
    <% } %>
  </nav>
<% } %>