<div class="search">
  <div class="search-container">
    <div class="search-close">
      <i class="iconfont iconbaseline-close-px"></i>
    </div>
    <input type="text" id="search-input">
    <div id="search-output"></div>
  </div>
</div>