// Loading
@keyframes bounce
  0%, 100%
    -webkit-transform scale(0)
  50%
    -webkit-transform scale(1)
@keyframes bounce
  0%, 100%
    transform scale(0)
    -webkit-transform scale(0)
  50%
    transform scale(1)
    -webkit-transform scale(1)
.loading
  position fixed
  width 100%
  height 100%
  top 0
  background-color $color-background
  z-index 2019
  overflow hidden
  .loading-wrap
    position absolute
    left 50%
    top 50%
    bottom auto
    right auto
    -webkit-transform translateX(-50%) translateY(-50%)
    transform translateX(-50%) translateY(-50%)
    text-align center
    .loading-spinner
      width 20px
      height 20px
      position relative
      margin 100px auto
      .loading-bounce1, .loading-bounce2
        width 100%
        height 100%
        border-radius 50%
        background-color $color-link
        opacity 0.6
        position absolute
        top 0
        left 0
        -webkit-animation bounce 2s infinite ease-in-out
        animation bounce 2s infinite ease-in-out
      .loading-bounce2
        -webkit-animation-delay -1s
        animation-delay -1s
// Preview
@keyframes move-forever
  0%
    transform translate3d(-90px, 0, 0)
  100%
    transform translate3d(85px, 0, 0)
.preview
  .preview-image
    z-index 40
    height 90vh
    width 100%
    background-image url(hexo-config('welcome_image'))
    background-repeat no-repeat
    background-size 100% 100%
    background-attachment fixed
    position relative
    display flex
    justify-content center
    align-items center
    .preview-tagline
      font-size 3em
      font-weight 300
      margin 0 10%
      color $color-defalut
      @media (max-width: 768px)
        font-size 2em
    .preview-overlay
      width 100%
      position absolute
      bottom -1px
      left 0
      right 0
      .preview-waves
        position relative
        width 100%
        height 15vh
        margin-bottom -7px
        min-height 100px
        max-height 150px
        @media (max-width: 768px)
          height 40px
          min-height 40px
      .preview-parallax 
        > use
          animation move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite
        > use:nth-child(1)
          animation-delay -2s
          animation-duration 7s
        > use:nth-child(2)
          animation-delay -3s
          animation-duration 10s
        > use:nth-child(3)
          animation-delay -4s
          animation-duration 13s
        > use:nth-child(4)
          animation-delay -5s
          animation-duration 20s
  .preview-scroll
    height 10vh
    display flex
    justify-content center
    align-items center
    i
      font-size 32px
// Fuction
.substr-1, .substr-3
  display -webkit-box
  -webkit-box-orient vertical
  overflow hidden
.substr-1
  -webkit-line-clamp 1
.substr-3
  -webkit-line-clamp 3
.lock-screen
  overflow hidden
  height 100%
  width 100%
.blur
  filter blur(10px)
// Fab
.fab
  position fixed
  bottom 15px
  right 15px
  width 45px
  height 45px
  line-height 45px
  text-align center
  border-radius 50%
  background-color $color-default
  color $color-white
  transition $transition
  box-shadow 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149)
  i
    font-size 1.5em
.fab:hover
  background-color $color-link
  color $color-default
  cursor pointer
.fab-plus
  z-index 100
.fab-plus-active
  transform rotate(45deg)
.fab-up
  z-index 90
  visibility hidden
.fab-up-active
  bottom 125px
  visibility visible
.fab-menu
  z-index 80
  visibility hidden
.fab-menu-active
  bottom 70px
  visibility visible
.paginator
  text-align center
  margin-bottom 30px
  span, a
    display inline-block
    margin 0 3px
    width 35px
    height 35px
    line-height 35px
    border-radius 50%
  span, a:hover
    background-color $color-default
    color $color-white