.gallery
  .gallery-head
    text-align center
    margin 100px auto
    h1
      font-size 2rem
      color black
    p
      font-size 1rem
.galleries
  .caption
    font-size 1.5rem !important
  .galleries-head
    text-align center
    margin 100px auto
    h1
      font-size 2rem
      color black
    p
      font-size 1rem