.tags
  max-width 576px
  min-height calc(80vh - 150px)
  margin 10vh auto
  @media (max-width: 576px)
    margin 40px 20px 0 20px
  .tags-head
    text-align center
    margin 100px auto
    h1
      font-size 2rem
      color black
    p
      font-size 1rem
  a
    padding 5px 10px
    background-color $color-background-deep
    margin-right 10px
  a:hover
    background-color $color-link
    color $color-white !important