.tags
  max-width 576px
  min-height calc(80vh - 150px)
  margin 10vh auto
  @media (max-width: 576px)
    margin 40px 20px 0 20px
  .tags-title
    font-size 1.5rem
    font-weight bold
    text-align center
    margin-bottom 30px
  a
    padding 5px 10px
    background-color $color-background-deep
    margin-right 10px
  a:hover
    background-color $color-link
    color $color-white !important